# Byte-compiled / cache
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Training outputs
model_log/
notebooks/utility/jetbot/dataset
notebooks/utility/jetbot/jetbot_dataset_*


# Environment / misc
.DS_Store
.env
.venv/
venv/
env/

# Packaging / build
build/
dist/
.eggs/
*.egg-info/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/
